			#descricao{
				font-size: 25px;
				font-family: "Times New Roman", Times, serif;
				text-align: center;
			}
			#indexh1{
				font-size: 35px;
				font-family: "Times New Roman", Times, serif;
				text-align: center;
			}
			#indexh2{
				font-size: 25px;
				font-family: "Times New Roman", Times, serif;
				text-align: center;
			}
			#indexh3{
				font-size: 25px;
				font-family: "Times New Roman", Times, serif;
				font-style: italic;
			}